body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}


th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #0056b3;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
}


td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}


a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #0056b3;
}
