body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}
h2{
    color: #333;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline;
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #0056b3;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
}
